.fbi-image-container {
    height: 300px;
    overflow: hidden;
}

.fbi-image-container img {
    width: 100%;
    height: auto;
}

@supports (object-fit: cover) {
    .fbi-image-container img {
        height: 100%;
        object-fit: contain;
        object-position: center center;
    }
}