.petBackground{
    position: relative;
    width: 68%;
    height: 30rem;
    box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1),
    0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
}

.petImage{
    position: absolute;
    align-content: center;
    width: 100%;
    align-items: center;
    bottom: 0;
    right: 0;
    vertical-align:middle;
}

