:root{
  --primary: #2175f5;
}

html{
  /* box-sizing: border-box; */

}

/* button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 1.5rem; 
  line-height: 1.15; 
  margin: 0;
} */

*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #ffffff;
}

.flex{
  display: flex;
  justify-content: space-between;
}

/*Header*/

.site-header{
  display: flex;
  background-image: url(../src/assets/img/GreenLogo-Hero2.png);
  background-position: top center;
  height: 100vh;
  background-size: cover;
  padding: 1px;
  /* position: relative;
  top: 30px;
  left: 90px; */
}


.redes-sociales{
  text-align: left;
  margin: 8rem 7rem;
  display: flex;
  flex-direction: column;
  /* position: absolute;
  top: 1px; */
  
}

.redes-sociales a{
  color: #246a40;
  font-size: 3.5rem;
  align-items: center;
}

.redes-sociales a:last-child{
  margin-right: 0;
}

.barra{
  background-color: #adcc3b;
  padding: 0.8rem 0;
  margin-top: 3px;
  position: sticky;
  z-index:2;
  top:0;
}

.logo{
  width: 80%;
  float: left;
}
.logo img{
  width: 50%;
}

@media (min-width: 768px) {
  .logo{
    width: 70%;
  }
}

/*Navegacion Principal*/

.navegacion-movil{
  display: flex;
  align-content: space-between;
  align-items: center;
}

.navegacion-principal{
  display: none;
  width: 100%;
}

.navegacion-principal a{
  font-family:'Roboto', sans-serif;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  transition: all .5s ease;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-bottom: 1rem;
}

.navegacion-principal a:hover{
  background-color: #246a40;
}

.navegacion-principal a:last-child{
  border: 2px solid  #246a40;
  color:  #246a40;
}

.navegacion-principal a:last-child:hover{
  color: white;
}

@media (min-width: 1200px) {
  .navegacion-desktop{
    display: flex;
    align-items: center;
  }
  .navegacion-principal{
    width: 67%;
    margin-left: 100px;
    text-align: right;
    font-size: 1.5rem;
    display: block;
  }

  .navegacion-principal a{
    
    display: inline-block;
    width: auto;
    text-align: center;
    margin: 0 1rem!important;
    
  }
 

  .navegacion-principal a:last-child{
    margin-right: 0;
  }
  
}

@media (min-width: 920px) {
  .navegacion-desktop{
    display: flex;
    align-items: center;
  }
  .navegacion-principal{
    width: 67%;
    text-align: right;
    font-size: 1.5rem;
    display: block;
  }

  .navegacion-principal a{
    
    display: inline-block;
    width: auto;
    text-align: center;
    margin: 0 1rem!important;
    
  }
 

  .navegacion-principal a:last-child{
    margin-right: 0;
  }
  
}

/*Menu Movil*/
.menu-movil{
  width: 6rem;
  display: block;
  text-align: right;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  line-height: 2.5rem;
  margin: auto;
}

.menu-movil:hover{
  cursor: pointer;
}

@media ( min-width: 1200px) {
  .menu-movil{
    display: none;
  }

}

@media (min-width: 920px) {
  .menu-movil{
    display: none;
  }

}
.menu-movil span{
  height: .8rem;
  margin-bottom: .6rem;
  background-color: white;
  display: block;
}
/* .logo{
  width: 15%;
}
.logo img{
  width: 200%;
}

@media (min-width: 768px) {
  .logo{
    width: 15%;
  }
  .logo img{
    width: 290%;
    margin-left: 7px;
  }
} */


/* .navegacion-principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;    
}

.navegacion-principal a{
  font-family:'Roboto', sans-serif;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  transition: all .5s ease;
  width: 100%;
  text-align: center;
}

.navegacion-principal a:hover{
  background-color: #246a40;
}

.navegacion-principal a:last-child{
  border: 2px solid  #246a40;
  color:  #246a40;
}

.navegacion-principal a:last-child:hover{
  color: white;
}

@media (min-width: 768px) {
  .navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;      
  }
  .navegacion-principal{
    font-size: 3.5rem;
    margin-left: 30rem;
    display: block;
    margin-right: 25px;
    padding-bottom: 4px;
  }

  .navegacion-principal a{
    margin-right: 10px;
    margin-bottom: .5rem;
    
  }

  .navegacion-principal a:last-child{
    margin-right: 0;
  }
  
}

.navegacion-movil{
  display: flex;
  align-content: space-between;
  align-items: center;
}

.menu-movil{
  width: 6rem;
  display: block;
  text-align: right;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  line-height: 2.5rem;
  
}

.menu-movil:hover{
  cursor: pointer;
}

@media (min-width: 768px) {
  .menu-movil{
    display: none;
  }

} */
/* 
.menu-movil span{
  height: .8rem;
  margin-bottom: .6rem;
  background-color: white;
  display: block;
}

@media (min-width: 768px) {
  .navegacion-desktop{
    display: flex;
    align-items: center;
  }
  .navegacion-principal{
    width: 67%;
    margin-top: 4px;
    text-align: right;
    font-size: 1.5rem;
    display: block;
  }
} */


.seccion{
  padding: 3rem 0;
}

.tamanoh2{
  font-size: 3.4rem;
  margin: auto;
}

.seccion p{
  font-size: 1.4rem;
}

.separador{
  margin: -8px auto 30px;
  height: 2rem;
  display: block;
}


.container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: left;
  padding: 40px;
  overflow: hidden;
}

.background{
  position: relative;
  /* width: 68%; */
  width: calc((100vw / 3) - 50%);
  height: 18rem;
  box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1),
  0 -15px 35px rgba(0, 0, 0, 0.1),
  0 15px 35px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) {
  .background{
    position: relative;
    width: 68%;
    height: 18rem;
    box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1),
    0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 500px) {
  .background{
    position: relative;
    width: 75%;
    height: 18rem;
    box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1),
    0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
  }
}

.petImage{
  position: absolute;
  align-content: center;
  width: 100%;
  align-items: center;
  bottom: 0;
  right: 0;
  vertical-align:middle;
}

.petImage {
  height: 300px;
  overflow: hidden;
  }
   
  .petImage img {
  width: 100%;
  height: auto;
  }
   
  @supports (object-fit: cover) {
  .petImage img {
  height: 100%;
  object-fit: contain;
  object-position: center center;
  }
  }


.name{
  padding: 0 0 0px 0;
}

.name div{
  display: flex;
  align-items: center;
}

.name div .big{
  margin-right: 10px;
  font-size: 1.5rem;
  color: #333;
  line-height: 1;
}

.name div .new{
  background-color: var(--primary);
  text-transform: uppercase;
  color: #fff;
  padding: 3px 10px;
  border-radius: 5px;
  transition: .5s;
}

.name .small{
  font-weight: 500;
  color: #444;
  margin-top: -10px;
  text-transform: capitalize;
  text-align: left;
  font-size: 1rem;
}

.name, .description, .color-container, .size-container{
  border-bottom: 1px solid #dadada;
}

.description{
  padding: 5px 0;
}

.title{
  color: #3a3a3a;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-align: left;
}

.text{
  color: #555;
  font-size: 12px!important;
  text-align: left;
}

.leermas{
  font-size: 12px;
}


.info{
  /* width: 68%; */
  width: calc((100vw / 3) - 50%);
  background-color: #fff;
  z-index: 1;
  padding: 10px 20px;
  box-shadow: 100px 0 0px rgba(0, 0, 0, 0),
  0 100px 65px rgba(0, 0, 0, 0),
  0 20px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) {
  .info{
    width: 68%;
    background-color: #fff;
    z-index: 1;
    padding: 10px 20px;
    box-shadow: 100px 0 0px rgba(0, 0, 0, 0),
    0 100px 65px rgba(0, 0, 0, 0),
    0 20px 10px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 500px) {
  .info{
    width: 75%;
    background-color: #fff;
    z-index: 1;
    padding: 10px 20px;
    box-shadow: 100px 0 0px rgba(0, 0, 0, 0),
    0 100px 65px rgba(0, 0, 0, 0),
    0 20px 10px rgba(0, 0, 0, 0.1);
  }
}


.price{
  color: #333;
  display: flex;
  align-items: flex-start;
}

.price h1{
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  margin-top: 6px;
}

.price i{
  font-size: 1rem;
  margin-right: 1px;
}

.adopt-terms{
  padding-top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 500px) {
  .adopt-terms{
    padding-top: 0px;
    display: block;
    justify-content: space-between;    
    align-items: center;
  }

  .price{
    display: none;
  }

  .adopt{
    padding: .7rem 1rem;
    background-color: var(--primary);
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 0.6rem;
    transition: .5s;
    display: block;
    text-align: center;
  }
}

.adopt{
  padding: .7rem 1rem;
  background-color: var(--primary);
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 0.6rem;
  transition: .5s;
}

.adopt:hover{
  transform: scale(1.1);
}

.tarjeta{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 43.9rem;
  margin-top: -2.5rem;
  margin-bottom: 5rem;
  margin: auto;
  padding-bottom: 35px;

}
.tarjeta-list{
    padding: 2rem;
    width: 100%;
    margin: 0;
  }

/*   
.tarjeta-list li{
    width: 33.3%;
    padding-bottom: 2rem;
  } */


  /*----------Inicio Sesion----------*/
  .iniciosesion{
    display: flex;
    width: 60%; 
    max-width: 120rem;
    margin: 2rem auto;
    padding: 1px;
    box-shadow: 100px 0 0px rgba(0, 0, 0, 0),
    0 100px 65px rgba(0, 0, 0, 0),
    0 20px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;

  }

  .iniciosesion-imagen{
    flex-basis: 50%;
    background-image: url(./assets/img/Login.jpg);
    background-size: cover;
    height: 75vh;
    background-position: center;
    padding: 1rem;
    
  }

  .iniciosesion-imagen img{
    max-width: 100%;
    padding-bottom: 2rem;
   }

   @media (max-width: 950px) {
    .iniciosesion-imagen{
      display: none!important;
     }

     .iniciosesion{
      display: flex;
      width: min-content; 
      max-width: 120rem;
      margin: 2rem auto;
      padding: 1px;
      box-shadow: 100px 0 0px rgba(0, 0, 0, 0),
      0 100px 65px rgba(0, 0, 0, 0),
      0 20px 10px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
  
    }
   }

   @supports (object-fit: cover) {
    .iniciosesion-imagen img {
    height: 100%;
    object-fit: contain;
    object-position: center center;
    }
    }

  .iniciosesion-formulario{
    flex-basis: 50%;
    display: flex;    
    align-items: center;
  }

  .iniciosesion-form{

    width: 100%;
  }

  .iniciosesion-formulario img{
    width: 10rem;
    display: block;
    margin: 1rem auto 0;
  }

  .fieldset {
    padding: 0.1rem 2.75rem 0.625rem;
    /* transform: translateY(-50%); */

    


  }

  .iniciosesion-label{
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    display: block;
    margin-top: 5%;
    }

  input[type="radio"]{
    width: auto;
    margin: 0;
}
  input:not([type="submit"]),
textarea,
select{
    padding: 0.7rem;
    display: block;
    width: 100%;
    background-color: rgba(231, 231, 231, 0.5);
    border: none;
    border-radius: 0.3rem;
}

.buttom{
  background-color: #246a40;
  padding: 0.5rem 5rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  font-size: 1.3rem;
  margin-top: 2rem;
  display: block;
  border: 2px solid;
  margin: 2rem auto 0;
}

.buttom.hollow,
.buttom.hollow:hover{
  background-color: white;
  color: #246a40;
  
}

.iniciosesion-link{
  font-size: 1rem;
  margin-top: 10%
}
