:root{
  --primary: #2175f5;
  --primarygreen: #246a40;
  --secondarygreen:#adcc3b;
}

html{
  /* box-sizing: border-box; */

}

/* button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 1.5rem; 
  line-height: 1.15; 
  margin: 0;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #ffffff;
}

.flex{
  display: flex;
  justify-content: space-between;
}


/*----------NavBarPrueba----------*/


ul.menu {
  display: inline-block;
  list-style-type: none;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
}
li.menu_list {
  height: 85px;
  width: 100%;
  position: relative;
}
li.menu_list .front,
a.side {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 86px;
  width: 100%;
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .5s ease-out;
}
li.menu_list .front {
  background-color:var(--secondarygreen);
  color: white;
  transform-origin: 0 0 0;
}
a.side {
  background-color: var(--primarygreen);
  color: white;
  transform-origin: 0 0 85px;
  transform: rotateX(90deg);
  font-size: 13px;
}
li.menu_list:hover a.side {
  transform: rotateX(0deg);
}
li.menu_list:hover .front {
  transform: rotateX(-90deg);
}


@media (max-width: 850px) {

  li.menu_list {
  height: 75px!important;
  width: 100%!important;
  margin-right: -1px;
}
a.side {
  transform-origin: 0 0 65px;
  font-size: 10px;
  transform: none;
  display: none;
}
li.menu_list:hover a.side {
  transform: none;
}
li.menu_list:hover .front {
  transform: none;
}

li.menu_list .front,
a.side {
  height: 40px;
}

}




/*Header*/

.site-header{
  display: flex;
  height: 100vh;
  position: relative;
  /* margin-top: -36rem; */
}

.imagenhero{
  height: 100vh;
  object-fit: contain;
  width: 100%;
}


.redes-sociales{
  text-align: center;
  margin: 1rem 4rem;
  display: flex;
  flex-direction: column;  
  position: absolute;
  right: 0;
}

@media (max-width: 919px) {
  .redes-sociales{
    margin: 15px auto 0;
    display: flex;
    flex-direction: row;  
    top: 40px;
    display: block!important;
    text-align: center;
    left: 50%;

    transform: translate(-50%, -50%);
  }

  .redes-sociales a{
    color: #246a40;
    font-size: 2rem!important;
    align-items: center;
    margin-right: 1rem;
  }
  
}

.redes-sociales a{
  color: #246a40;
  font-size: 3.5rem;
  align-items: center;
}

.redes-sociales a:last-child{
  margin-right: 0;
}

.barra{
  background-color: #adcc3b;
  padding: 0.8rem 0;
  position: sticky;
  z-index:2;
  top:0;
}

.logo{
  width: 100%;
  float: left;
}
.logo img{
  width: 50%;
}

@media (max-width:919px) {
  .logo{
    width: 70%;
  }

  .logo img{
    width: 50%!important;
  }
}

/*Navegacion Principal*/

.navegacion-movil{
  display: flex;
  align-content: space-between;
  align-items: center;
  flex-basis: 25%;
}

.navegacion-principal{
  display: none;
  width: 100%;
}

.navegacion-principal a{
  font-family:'Roboto', sans-serif;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-bottom: 1rem;
}

.navegacion-principal a:hover{
  color: #246a40;
}

.navegacion-principal a:last-child{
  color:  white;
  background-color: var(--secondarygreen);
  font-size: 2rem;
  padding-left: 10rem;
}

.navegacion-principal a:last-child:hover{
  color: var(--primarygreen);
}

@media (min-width: 1200px) {
  .navegacion-desktop{
    display: flex;
    align-items: center;
  }
  .navegacion-principal{
    width: 67%;
    /* margin-left: 30px; */
    text-align: right;
    font-size: 1.5rem;
    display: block;
  }

  .navegacion-principal a{
    
    display: inline-block;
    width: auto;
    text-align: center;
    margin: 0 1rem!important;
    
  }
 

  .navegacion-principal a:last-child{
    margin-right: 0;
  }
  
}

/* @media (max-width: 1273px) {
  .navegacion-principal a:last-child{
    padding-left: 100px;
  }
}

@media (max-width: 1193px) {
  .navegacion-principal a:last-child{
    padding-left: 50px;
  }
}

@media (max-width: 1126px) {
  .navegacion-principal a:last-child{
    padding-left: 20px;
  }
}

@media (min-width: 1086px) {
  .navegacion-principal{
    flex-basis: 150%!important;
  }
  .navegacion-principal a:last-child{
    padding-left: 80px;
  }

  .logo img{
    width: 80%!important;
  }

} */

@media (min-width: 920px) {
  .navegacion-desktop{
    display: flex;
    align-items: center;
  }
  .navegacion-principal{
    width: 67%;
    text-align: left;
    font-size: 1.5rem;
    display: block;
    flex-basis: 75%;
  }

  .navegacion-principal a{
    
    display: inline-block;
    width: auto;
    text-align: center;
    margin: 0 1rem!important;
    
  }
 

  .navegacion-principal a:last-child{
    margin-right: 0;
  }
  
}

/*Menu Movil*/
.menu-movil{
  width: 5rem;
  display: block;
  text-align: right;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  line-height: 2.5rem;
  margin: auto;
}

.menu-movil:hover{
  cursor: pointer;
}

@media ( min-width: 1200px) {
  .menu-movil{
    display: none;
  }

}

@media (min-width: 920px) {
  .menu-movil{
    display: none;
  }

}
.menu-movil span{
  height: .8rem;
  margin-bottom: .6rem;
  background-color: white;
  display: block;
}
/* .logo{
  width: 15%;
}
.logo img{
  width: 200%;
}

@media (min-width: 768px) {
  .logo{
    width: 15%;
  }
  .logo img{
    width: 290%;
    margin-left: 7px;
  }
} */


/* .navegacion-principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;    
}

.navegacion-principal a{
  font-family:'Roboto', sans-serif;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  transition: all .5s ease;
  width: 100%;
  text-align: center;
}

.navegacion-principal a:hover{
  background-color: #246a40;
}

.navegacion-principal a:last-child{
  border: 2px solid  #246a40;
  color:  #246a40;
}

.navegacion-principal a:last-child:hover{
  color: white;
}

@media (min-width: 768px) {
  .navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;      
  }
  .navegacion-principal{
    font-size: 3.5rem;
    margin-left: 30rem;
    display: block;
    margin-right: 25px;
    padding-bottom: 4px;
  }

  .navegacion-principal a{
    margin-right: 10px;
    margin-bottom: .5rem;
    
  }

  .navegacion-principal a:last-child{
    margin-right: 0;
  }
  
}

.navegacion-movil{
  display: flex;
  align-content: space-between;
  align-items: center;
}

.menu-movil{
  width: 6rem;
  display: block;
  text-align: right;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  line-height: 2.5rem;
  
}

.menu-movil:hover{
  cursor: pointer;
}

@media (min-width: 768px) {
  .menu-movil{
    display: none;
  }

} */
/* 
.menu-movil span{
  height: .8rem;
  margin-bottom: .6rem;
  background-color: white;
  display: block;
}

@media (min-width: 768px) {
  .navegacion-desktop{
    display: flex;
    align-items: center;
  }
  .navegacion-principal{
    width: 67%;
    margin-top: 4px;
    text-align: right;
    font-size: 1.5rem;
    display: block;
  }
} */


.seccion{
  padding: 3rem 0;
}

.tamanoh2{
  font-size: 3.4rem;
  margin: auto;
}

.seccion p{
  font-size: 1.4rem;
}

.separador{
  margin: -8px auto 30px;
  height: 2rem;
  display: block;
}


.container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: left;
  padding: 40px;
  overflow: hidden;
}

.background{
  position: relative;
  /* width: 68%; */
  width: calc((100vw / 3) - 50%);
  height: 18rem;
  box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1),
  0 -15px 35px rgba(0, 0, 0, 0.1),
  0 15px 35px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) {
  .background{
    position: relative;
    width: 68%;
    height: 18rem;
    box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1),
    0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 500px) {
  .background{
    position: relative;
    width: 75%;
    height: 18rem;
    box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1),
    0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
  }
}

.petImage{
  position: absolute;
  align-content: center;
  width: 100%;
  align-items: center;
  bottom: 0;
  right: 0;
  vertical-align:middle;
}

.petImage {
  height: 300px;
  overflow: hidden;
  }
   
  .petImage img {
  width: 100%;
  height: auto;
  }
   
  @supports (object-fit: cover) {
  .petImage img {
  height: 100%;
  object-fit: contain;
  object-position: center center;
  }
  }


.name{
  padding: 0 0 0px 0;
}

.name div{
  display: flex;
  align-items: center;
}

.name div .big{
  margin-right: 10px;
  font-size: 1.5rem;
  color: #333;
  line-height: 1;
}

.name div .new{
  background-color: var(--primary);
  text-transform: uppercase;
  color: #fff;
  padding: 3px 10px;
  border-radius: 5px;
  transition: .5s;
}

.name .small{
  font-weight: 500;
  color: #444;
  margin-top: -10px;
  text-transform: capitalize;
  text-align: left;
  font-size: 1rem;
}

.name, .description, .color-container, .size-container{
  border-bottom: 1px solid #dadada;
}

.description{
  padding: 5px 0;
}

.title{
  color: #3a3a3a;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-align: left;
}

.text{
  color: #555;
  font-size: 12px!important;
  text-align: left;
}

.leermas{
  font-size: 12px;
}


.info{
  /* width: 68%; */
  width: calc((100vw / 3) - 50%);
  background-color: #fff;
  z-index: 1;
  padding: 10px 20px;
  box-shadow: 100px 0 0px rgba(0, 0, 0, 0),
  0 100px 65px rgba(0, 0, 0, 0),
  0 20px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) {
  .info{
    width: 68%;
    background-color: #fff;
    z-index: 1;
    padding: 10px 20px;
    box-shadow: 100px 0 0px rgba(0, 0, 0, 0),
    0 100px 65px rgba(0, 0, 0, 0),
    0 20px 10px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 500px) {
  .info{
    width: 75%;
    background-color: #fff;
    z-index: 1;
    padding: 10px 20px;
    box-shadow: 100px 0 0px rgba(0, 0, 0, 0),
    0 100px 65px rgba(0, 0, 0, 0),
    0 20px 10px rgba(0, 0, 0, 0.1);
  }
}


.price{
  color: #333;
  display: flex;
  align-items: flex-start;
}

.price h1{
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  margin-top: 6px;
}

.price i{
  font-size: 1rem;
  margin-right: 1px;
}

.adopt-terms{
  padding-top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 500px) {
  .adopt-terms{
    padding-top: 0px;
    display: block;
    justify-content: space-between;    
    align-items: center;
  }

  .price{
    display: none;
  }

  .adopt{
    padding: .7rem 1rem;
    background-color: var(--primary);
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 0.6rem;
    transition: .5s;
    display: block;
    text-align: center;
  }
}

.adopt{
  padding: .7rem 1rem;
  background-color: var(--primary);
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 0.6rem;
  transition: .5s;
}

.adopt:hover{
  transform: scale(1.1);
}

.tarjeta{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 43.9rem;
  margin-top: -2.5rem;
  margin-bottom: 5rem;
  margin: auto;
  padding-bottom: 35px;

}
.tarjeta-list{
    padding: 2rem;
    width: 100%;
    margin: 0;
  }

/*   
.tarjeta-list li{
    width: 33.3%;
    padding-bottom: 2rem;
  } */


/*----------Inicio Sesion----------*/
.iniciosesion{
  display: flex;
  width: 60%; 
  max-width: 120rem;
  margin: 2rem auto;
  padding: 1px;
  box-shadow: 100px 0 0px rgba(0, 0, 0, 0),
  0 100px 65px rgba(0, 0, 0, 0),
  0 20px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px;

}

.iniciosesion-imagen{
  flex-basis: 50%;
  background-image: url(./assets/img/Login.jpg);
  background-size: cover;
  height: 75vh;
  background-position: center;
  padding: 1rem;
  
}

.iniciosesion-imagen img{
  max-width: 100%;
  padding-bottom: 2rem;
 }

 @media (max-width: 950px) {
  .iniciosesion-imagen{
    display: none!important;
   }

   .iniciosesion{
    display: flex;
    width: min-content; 
    max-width: 120rem;
    margin: 2rem auto;
    padding: 1px;
    box-shadow: 100px 0 0px rgba(0, 0, 0, 0),
    0 100px 65px rgba(0, 0, 0, 0),
    0 20px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;

  }
 }

 @supports (object-fit: cover) {
  .iniciosesion-imagen img {
  height: 100%;
  object-fit: contain;
  object-position: center center;
  }
  }

.iniciosesion-formulario{
  flex-basis: 50%;
  display: flex;    
  align-items: center;
}

.iniciosesion-form{

  width: 100%;
}

.iniciosesion-formulario img{
  width: 10rem;
  display: block;
  margin: 1rem auto 0;
}

.fieldset {
  padding: 0.1rem 2.75rem 0.625rem;
  /* transform: translateY(-50%); */

  


}

.iniciosesion-label{
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  display: block;
  margin-top: 5%;
  }

input[type="radio"]{
  width: auto;
  margin: 0;
}
input:not([type="submit"]),
textarea,
select{
  padding: 0.7rem;
  display: block;
  width: 100%;
  background-color: rgba(231, 231, 231, 0.5);
  border: none;
  border-radius: 0.3rem;
}

.buttom{
background-color: #246a40;
padding: 0.5rem 5rem;
color: white;
text-transform: uppercase;
font-weight: bold;
font-family: 'Oswald', sans-serif;
text-decoration: none;
font-size: 1.3rem;
margin-top: 2rem;
display: block;
border: 2px solid;
margin: 2rem auto 0;
}

.buttom.hollow,
.buttom-direcciones.hollow,
.buttom.hollow:hover{
background-color: white;
color: #246a40;

}

.iniciosesion-link{
font-size: 1rem;
margin-top: 10%
}

/*----------Perfil Usuario----------*/
.perfilusuario{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  width: 85%;
  margin: 1rem auto;
  box-shadow: 100px 0 0px rgba(0, 0, 0, 0),
  0 100px 65px rgba(0, 0, 0, 0),
  0 5px 3px rgba(0, 0, 0, 0.1);
}

.perfilusuario-banner{
  flex-basis: 45%;
  position: relative;
}

.perfilusuario-banner img{
  width: 100%;
  height: 80%;
  position: absolute;
  z-index: -1;
}

@supports(object-fit: cover){
  .perfilusuario-banner img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}


.perfilusuario-info{
  /* background-color: red; */
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
}

.imgperfil-wrapper{
  width: 12%;
  height: 47%;
  box-sizing: border-box;
  border: 0 solid transparent;
  border-radius: 50%;
  background-color: #ADCC3B;
  margin: -70px 40px;
  display: flex;
    align-items: center;
    justify-content: center;
}

.pu-imagenPerfil{
  border-radius: 50%;
  width: 10%;
  margin: -57px 40px;
}

.buttom-perfil{
  color: var(--primarygreen);
  padding: 6px 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  font-size: 0.8rem;
  display: block;
  border: 1px solid;
  border-radius: 50%;
  position: absolute;
  left: 87%;

}

.perfilusuario-contenedor{
  width: auto;
  margin: auto 40px ;
  height: auto;
  padding-top: 65px;
  display: flex;
}

.pu-contenedorinfo{
  flex-basis: 30%;
}

.pu-contenedorRecompensas{
  flex-basis: 70%;
  border-radius: 2px;
}
.descripcionTitulo{
  font-size: 1.5rem;
}

.perfilusuario-labels{
  display: flex;
  flex-direction: column;  
}

.pulNombre{
  align-items: center;
  font-size: 1.8rem;
}

.pu-ul{
  list-style: none;
  display: flex;
  margin-bottom: 5px!important;
}
.pu-ul :not(:last-child)::after{
    content: "\00B7";
    margin: 0;
    padding: 0 4px;
    color: #000;
    font-weight: 400;
}

@media (max-width: 1147px) {
  .pu-ul{
    list-style: none;
    margin-bottom: 5px!important;
  }

  .pu-contenedorRecompensas{
    /* display: none!important; */
  }

  .pu-contenedorinfo{
    flex-basis: 100%;
  }
}

@media (max-width: 1139px) {
  .perfilusuario-contenedor{
    display: block;
  }
  .rdInformacion{
    margin: auto!important;
  }

  .rdInformacionSellos{
    padding-bottom: 10px;
  }

}

@media (max-width: 540px) {

  .perfilusuario{
    height: 100vh;
    width: 85%;
  }
  .pu-ul{
    flex-wrap: wrap;
    }
  .rdContenedor{
    box-shadow: none !important;
  }

  .perfilusuario-info{
    padding-top: 10px;
  }

  .pu-imagenPerfil{
    width: 15%;
  }

  .pu-contenedorinfo{
    height: auto;
  }

  .perfilusuario-labels{
    height: auto;
  }

  .pu-contenedorRecompensas{
    height: auto;
  }
}

/* @media (max-height: 400px) {
  
  .perfilusuario-contenedor{
    height: auto;
  }
} */


/*----------RecompensaUsuario----------*/

.rdContenedor{
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  -webkit-box-shadow: 7px 9px 7px -6px rgba(0,0,0,0.38);
  -moz-box-shadow: 7px 9px 7px -6px rgba(0,0,0,0.38);
  box-shadow: 7px 9px 7px -6px rgba(0,0,0,0.38);
}

.rdInformacion{
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  margin: auto 15px;
}

.rdInformacionDescripcion{
  flex-basis: 50%;
}
.rdInformacionSellos{
  flex-basis: 50%;
  display: flex;
}

@media (max-width: 540px) {

  .rdInformacion{
    flex-basis: 100%;
  }
  
  .rdInformacionDescripcion{
    flex-basis: 50%;
    height: auto;
  }
  .rdInformacionSellos{
    flex-basis: 50%;
    display: flex;
    height: auto;
  }

  .rdProducto{
    display: none;
  }
}

.sellosRecompensas{
  width: 50px;
  height: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  /* background: #adcc3b; */
  margin: auto 15px;
  border: black 1px dashed;
}

.sellosRecompensas img{
  width: 100%;
  display: block;
  margin: auto;
  object-fit: cover;
  border-radius: 50%;
}

@supports(object-fit: cover){
  .sellosRecompensas img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.rdProducto{
  flex-basis: 30%;
  position: relative;
}

.rdProducto img {
  height:100%;
  max-height: 100%;
  width: auto;
  max-width: 100%;
  margin: auto;
  position:absolute;
  top:0%;
  bottom:0%;
  left:0%;
  right:0%;
  display:block;
  object-fit: contain;
}

/*----------Direcciones Usuarios----------*/
.direccionesUsuarios{
  margin: 1rem auto;
  box-shadow: 100px 0 0px rgba(0, 0, 0, 0),
  0 100px 65px rgba(0, 0, 0, 0),
  0 5px 3px rgba(0, 0, 0, 0.1);
  width: 85%;
  height: auto;
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;
}

.dirUsuario{
  list-style: none;
  display: flex;
}

.dirUsuario :not(:last-child)::after{
  content: "\00B7";
  margin: 0;
  padding: 0 4px;
  color: #000;
  font-weight: 400;
}

.buttom-direcciones{
background-color: #246a40;
padding: 6px 10px;
color: white;
text-transform: uppercase;
font-weight: bold;
font-family: 'Oswald', sans-serif;
text-decoration: none;
font-size: 0.8rem;
display: block;
border: 2px solid;
border-radius: 3px;
}





