

:root{
  --primary: #2175f5;
}

html{
  /* box-sizing: border-box; */
  font-size: 62.5%; 
}

*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: 'Poppins', sans-serif;
}

body{
  /* background-color: #efefef; */
  background-color: #ffffff;
}

.container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: left;
  padding: 40px;
  overflow: hidden;
}

.background{
  position: relative;
  width: 68%;
  height: 30rem;
  box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1),
  0 -15px 35px rgba(0, 0, 0, 0.1),
  0 15px 35px rgba(0, 0, 0, 0.1);
}

.petImage{
  position: absolute;
  align-content: center;
  width: 100%;
  align-items: center;
  bottom: 0;
  right: 0;
  vertical-align:middle;
}




.name{
  padding: 0 0 10px 0;
}

.name div{
  display: flex;
  align-items: center;
}

.name div .big{
  margin-right: 10px;
  font-size: 2.5rem;
  color: #333;
  line-height: 1;
}

.name div .new{
  background-color: var(--primary);
  text-transform: uppercase;
  color: #fff;
  padding: 3px 10px;
  border-radius: 5px;
  transition: .5s;
}

.name .small{
  font-weight: 500;
  color: #444;
  margin-top: 3px;
  text-transform: capitalize;
  text-align: left;
  font-size: 1.5rem;
}

.name, .description, .color-container, .size-container{
  border-bottom: 1px solid #dadada;
}

.description{
  padding: 10px 0;
}

.title{
  color: #3a3a3a;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: left;
}

.text{
  color: #555;
  font-size: 17px;
  text-align: left;
}


.info{
  width: 50%;
  background-color: #fff;
  z-index: 1;
  padding: 20px 40px;
  box-shadow: 100px 0 0px rgba(0, 0, 0, 0),
  0 100px 65px rgba(0, 0, 0, 0),
  0 20px 10px rgba(0, 0, 0, 0.1);
}


.price{
  color: #333;
  display: flex;
  align-items: flex-start;
}

.price h1{
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 1;
}

.price i{
  font-size: 1.4rem;
  margin-right: 1px;
}

.adopt-terms{
  padding-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adopt{
  padding: .7rem 1rem;
  background-color: var(--primary);
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.5rem;
  transition: .5s;
}

.adopt:hover{
  transform: scale(1.5);
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 43.9rem;
  margin-top: 5.5rem;;
}
.card-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
  }

  
.card-list li{
    width: 33.3%;
    padding-bottom: 2rem;
  }